# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ & Android Studio
.idea/
*.iml
*.ipr
*.iws
out/
build/

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Generated plugins
android/key.properties
ios/Runner/GeneratedPluginRegistrant.*